.todolist {
  background: linear-gradient(rgb(173, 213, 230), rgb(210, 210, 210));
  border-radius: 5px;
  box-shadow: 10px 5px 8px 10px #ece9e9;
}

.todolist .alert {
  font-family: 'Montserrat';
  color: red;
  font-size: 15px;
}

.todolist h2 {
  color: #cd2653;
  font-size: 48px;
  font-family: 'Reggae One', cursive !important;
}

.todolist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todolist ul .completed {
  background-color: lightgreen;
  color: green;
}

.todolist ul .completed::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 57px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/done-icon-green.svg");
}

.todolist ul .completed span {
  padding-left: 20px;
  position: relative;
}

.todolist ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  padding: 0 25px;
  width: 100%;
  min-height: 56px;
  background-color:white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  font-family: 'Montserrat';
  font-size: 16px;
}

.todolist h1::before {
  display: none !important;
}

.todolist input[type=text] {
  border: 1px solid #dcd7ca;
  width: 50%;
  height: 56px;
  background-color: white;
  padding-left: 16px;
}

.todolist input[type=text]:focus,
.todolist input[type=text]:active {
  outline: none;
  border: 1px solid #dcd7ca;
  background: #fcfcfb;
}

.todolist input[type=text]:focus::placeholder,
.todolist input[type=text]:active::placeholder {
  color: transparent;
}

.todolist .todolist__single-todo-wrapper {
  width: 100%;
}

.todolist .todolist__single-todo-edit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todolist .todolist__single-todo-edit input[type=text] {
  border: none;
  width: 100%;
  border: 1px solid black;
  margin: 5px 0;
}

.todolist .todolist__single-todo-edit .btn {
  min-width: 80px;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
  font-family: 'Montserrat';
  font-size: 13px;
  text-transform: uppercase;
  height: 46px;
  border: none;
  transition: 0.2s ease-in-out all;
  margin: 0 10px;
}

.todolist .todolist__single-todo-edit .btn:hover {
  transform: scale(1.05);
}

.todolist .todolist__single-todo-edit .btn-save {
  background-color: green;
}

.todolist .todolist__single-todo-cancel .btn-cancel {
  background-color: #cd2653;
}

.todolist .todolist__button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 10px 0;
  transition: 0.2s ease-in-out all;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.todolist .todolist__button--delete {
  background-image: url("../assets/delete-icon.svg");
  background-color: red;
  background-position: 9px 8px;
}

.todolist .todolist__button--edit {
  background-image: url("../assets/edit-icon.svg");
  background-color: rgb(96, 155, 175);
  background-position: 10px 9px;
}

.todolist .todolist__button--completed {
  background-image: url("../assets/done-icon.svg");
  background-color: green;
  background-position: 10px 10px;
}

.todolist .todolist__button:hover {
  transform: scale(1.15);
}

.todolist label {
  min-width: 20%;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.todolist input[type=submit] {
  min-width: 175px;
  border-radius: 10px;
  background-color: #cd2653;
  transition: 0.2s all ease-in-out;
  font-family: 'Montserrat';
  text-transform: uppercase;
  height: 56px;
}

.todolist input[type=submit]:hover {
  background-color: #701830;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .todolist {
    min-width: 960px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .todolist {
    min-width: 580px;
  }

  .todolist input[type=submit] {
    min-width: 60%;
  }

  .todolist form input[type=text] {
    min-width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .todolist {
    min-width: 0;
    width: 100%;
  }

  .todolist input[type=submit] {
    min-width: 0;
    width: 100%;
  }

  .todolist form input[type=text] {
    min-width: 0;
    width: 100%;
  }

  .todolist ul li {
    min-height: 120px;
    padding-right: 0;
  }

  .todolist .todolist__button {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .todolist .todolist__single-todo-edit .btn {
    margin: 5px;
  }
}